openapi: 3.0.0
info:
  title: Terrarium API
  version: 1.0.0
  description: API documentation for the Terrarium platform
servers:
  - url: https://api.terrarium.dev/v1
    description: Production server
  - url: https://staging-api.terrarium.dev/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Communities
    description: Community management
  - name: Jobs
    description: Job board operations
  - name: Users
    description: User management

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    type: object
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
